# General
.vscode/
ignore/
build/

# Server
back/.vscode/
back/build/
back/lib/mbedtls/
back/include/external_projects/mbedtls/
back/include/external_projects/psa/

# Front
front/.vscode/
front/.angular/
front/node_modules
front/dist