<mat-drawer-container class="main-container">
  <mat-drawer class="main-container-navbar" mode="side" opened>
    <button mat-fab color="primary" class="main-container-navbar-button">
      <mat-icon>person</mat-icon>
    </button>
    <button class="main-container-navbar-button" mat-raised-button>
      <mat-icon>waterfall</mat-icon>Statistic
    </button>
    <button class="main-container-navbar-button" mat-raised-button>
      <mat-icon>tune</mat-icon>Settings
    </button>
    <button class="main-container-navbar-button" mat-raised-button>
      <mat-icon>terminal</mat-icon>VK API
    </button>
  </mat-drawer>
  <mat-drawer-content></mat-drawer-content>
</mat-drawer-container>
<router-outlet></router-outlet>